@import '../../../../styles/mixins.scss';

.btn-container {
	cursor: pointer;
}

.icon-btn {
	border-radius: 100%;
	width: 40px;
	aspect-ratio: 1/1;
	@include display-flex($jc: center);
	@include transition();
	@include backdrop();
}