@import '../../../../styles/variables_styles.scss';
@import '../../../../styles/mixins.scss';

.header-wrapper {
	background-color: var(--card-back-color);
	padding: var(--padding) var(--site-padding);
	position: relative;
	border-bottom: 0.2px solid var(--primary-border-color);

	.menu-wrapper {
		@include position-absolute-right($top: 60px);
		margin-right: var(--site-padding);
	}
}

.logo {
	width: 50px;
	cursor: pointer;
	transition: all 820ms ease-in-out;

	&:hover {
		scale: 1.1;
		transition: all 820ms ease-in-out;
		backdrop-filter: brightness(-1.5);
	} 
}

