@import '../../../../styles/variables_styles.scss';
@import '../../../../styles/color_styles.scss';
@import '../../../../styles/mixins.scss';
@import '../../../../styles/animations.scss';


.nav-list {
	background-color: var(--odd-back-color);
	padding: var(--padding);
}

.close-item {
	@include display-flex($jc: flex-end);
	@include border-bottom();
}

.list-item {
	@include display-flex();
	@include border-bottom();
	@include backdrop();
 flex-wrap: no-wrap;
}

