<div class="start-site-wrapper">
	<div [formGroup]="formGroup" class="card start-site-card">
		<h2 class="header">{{ "header.forgotPassword" | translate }}</h2>
		<p>{{ "text.confirmMail" | translate }}</p>
		<app-input
		[inputTitle]="'label.email' | translate"
		[withIcon]="true"
		[matIcon]="'mail'"
		[groupedForm]="formGroup"
		[formField]="'email'"
		></app-input>
		<app-button
		[btnClass]="'text-btn'"
		[label]="'label.confirm' | translate"
		(buttonClicked)="getMail()"
		[isDisabled]="formGroup.invalid"
		></app-button>
	</div>
</div>

