// LIGHTMODE COLORS 
// #000; #2a343d; #262e31; #fbfeff; #ecf0f1; #dee3e6; #d7dce0;

// DARKMODE COLORS 
// #fff; #ecf0f1; #d0d5d8; #52575a; #303c45; #3a4650; #191026;
 
:root {
	--font-color: #000;
	--header-font-color: #2a343d;
	--site-background-color: #fbfeff;
	--card-back-color: #ecf0f1;
	--primary-border-color: #2a343d; 
	--secondary-border-color: #262e31; 
	--odd-back-color: #dee3e6;
	--even-back-color: #d7dce0;
}

[data-theme="dark"] {
	--font-color: #fff;
	--header-font-color: #d0d5d8;
	--site-background-color: #192026;
	--card-back-color: #2a343d;
	--primary-border-color: #d0d5d8; 
	--secondary-border-color: #ecf0f1; 
	--odd-back-color: #303c45;
	--even-back-color: #3a4650;
}

