:root {
	--single: 8px;
	--padding: calc(calc(var(--single)*2));
	--site-padding: calc(var(--single) * 4);
	--input-font: calc(calc(var(--single)*2));
	--header-height: 6rem;

	@media (max-width: 420px) {
		--padding: calc(var(--single));
		--site-padding: calc(calc(var(--single)*2));
		--input-font: calc(var(--single) * 1.5);
		--header-height: 4rem;
	}
}

$border-radius: 5px;





