@import '../../../../styles/mixins.scss';
@import '../../../../styles/color_styles.scss';


.btn-container {
	cursor: pointer;
	text-align: center;
}

.icon-btn {
	border-radius: 100%;
	width: 40px;
	aspect-ratio: 1/1;
	@include display-flex($jc: center);
	@include transition();
	@include backdrop();
}

.label-icon-btn, .text-btn {
	@include display-flex();
	@include border();
	@include backdrop();
	padding: calc(var(--padding) / 2) var(--padding);
}

.text-btn {
	width: 75px;
	@include display-flex($jc: center)
}

.just-text-btn {
	color: var(--header-font-color);

		&:hover {
			color: var(--focus-color);
		}
	
		&:active {
			transform: scale(0.9);
		}
	
}

.save-btn{
	background-color: var(--highlight-color);

	&:hover {
		filter: brightness(1.2);
	}

	&:active {
		filter: brightness(0.8);
	}
}

