<div class="btn-container" (click)="onButtonClick()">
	<!-- ~ ICON BUTTON -->
	<ng-container *ngIf="btnClass === 'icon-btn'">
		<div [class]="btnClass">
			<mat-icon> {{ matIcon }} </mat-icon>
		</div>	
	</ng-container>
	<!-- ~ TEXT ICON BUTTON -->
	<ng-container *ngIf="btnClass === 'label-icon-btn'">
		<div [class]="btnClass" [ngClass]="{'save-btn': matIcon === 'save'}">
			<div class="btn-label">{{ label }}</div>
			<mat-icon> {{ matIcon }} </mat-icon>
		</div>	
	</ng-container>
	<!-- ~ TEXT BUTTON -->
	<ng-container *ngIf="btnClass === 'text-btn'">
		<div [class]="btnClass">
			<div class="btn-label">{{ label }}</div>
		</div>	
	</ng-container>

</div>
