<div class="dialog-outside">
  <div class="card dialog">
    <h2>{{ "dialogHeader.newHome" | translate }}</h2>
    <app-input
      [inputTitle]="'label.homeName' | translate"
      [groupedForm]="formGroup"
      [formField]="'title'"
    ></app-input>
    <app-select-area
      [selectArray]="newHomeUtilService.newHomeFeatures"
    ></app-select-area>
    <div class="btn-wrapper">
      <app-button
        [btnClass]="'text-btn'"
        [label]="'label.cancel' | translate"
        (buttonClicked)="cancel()"
      ></app-button>
      <app-button
        [btnClass]="'text-btn'"
        [label]="'label.save' | translate"
        (buttonClicked)="save()"
      ></app-button>
    </div>
  </div>
</div>
