@import "../../../../styles/variables_styles.scss";
@import "../../../../styles/mixins.scss";
@import "../../../../styles/color_styles.scss";

.check-container {
  @include display-flex($gap: calc(var(--single) / 2), $jc: flex-start);

  .checkbox-border {
    @include border($padding: 2px);
    width: 26px;
    height: 26px;
  }

  input {
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: var(--header-font-color);
  }
}
