<div class="edit-wrapper slide-down" id="editableClose">
  <app-input
    [shouldFocus]="true"
    [inputTitle]="'label.title' | translate"
    [groupedForm]="groupedForm"
    [formField]="'title'"
  ></app-input>
  <app-input
    [needTextarea]="true"
    [inputTitle]="'label.description' | translate"
    [groupedForm]="groupedForm"
    [formField]="'description'"
  ></app-input>
		<ng-container *ngIf="!isJustAddItem">
			<div class="check-box-wrapper">
    <app-checkbox
      [checkboxTitle]="'label.read'"
      [groupedForm]="groupedForm"
      [formField]="'read'"
    ></app-checkbox>
    <app-checkbox
      [checkboxTitle]="'label.done'"
      [groupedForm]="groupedForm"
      [formField]="'done'"
    ></app-checkbox>
  </div>
		</ng-container>

  <div class="btn-wrapper">
    <app-button
      [btnClass]="'label-icon-btn'"
      [matIcon]="'cancel'"
      [label]="'label.cancel' | translate"
      (buttonClicked)="cancel()"
    ></app-button>
				<ng-container *ngIf="!isJustAddItem">
    <app-button
      [btnClass]="'label-icon-btn'"
      [matIcon]="'delete'"
      [label]="'label.delete' | translate"
      (buttonClicked)="delete()"
    ></app-button>
				</ng-container>
    <app-button
      [btnClass]="'label-icon-btn'"
      [matIcon]="'save'"
      [label]="'label.save' | translate"
      (buttonClicked)="save()"
    ></app-button>
  </div>
</div>
<ng-container *ngIf="shouldChangedDialogOpen">
  <app-changed-input
    (close)="utilService.closeThis(closeWindow, 'editableClose')"
    (return)="shouldChangedDialogOpen = false"
  ></app-changed-input>
</ng-container>
