<ng-container *ngIf="homeUtilService.openNewHomeDialog">
  <app-new-home></app-new-home>
</ng-container>
<ng-container *ngIf="homeUtilService.openAddHomeDialog">
  <app-add-home></app-add-home>
</ng-container>
<ng-container *ngIf="homeUtilService.openConnectHomeDialog">
  <app-connect-home></app-connect-home>
</ng-container>
<ng-container *ngIf="homeUtilService.openShareHomeDialog">
  <app-share-home></app-share-home>
</ng-container>
<ng-container *ngIf="homeUtilService.openSettingHomeDialog">
  <app-home-setting></app-home-setting>
</ng-container>
