<div class="dialog-outside">
  <div class="card dialog">
    <h2>{{ "dialogHeader.newHome" | translate }}</h2>
    <p>{{ "dialogText.newHome" | translate }}</p>
    <div class="btn-wrapper">
      <app-button
        [btnClass]="'icon-btn'"
        [matIcon]="'add'"
        (buttonClicked)="createHome()"
      ></app-button>
      <p class="info-text">{{ "label.createHome" | translate }}</p>
      <app-button
        [btnClass]="'icon-btn'"
        [matIcon]="'account_tree'"
        (buttonClicked)="connectHome()"
      ></app-button>
      <p class="info-text">{{ "label.connectHome" | translate }}</p>
    </div>
  </div>
</div>
